<div class="content">
    
    <h3>Sales and Returns</h3>
    <div class="text">
        THIS IS SOME INFO ABOUT SALES AND RETURN
omized online retailing experience.

Your information

Your information is the information that’s required when you sign up for the site, as well as the information you choose to share.

Registration information: When you sign up for agc.lk, you are required to provide information such as your name, email address, and phone number.
Information you choose to share: Your information also includes the information you choose to share via social media sites such as Facebook and twitter, such as when you post a status update, upload a photo, or comment on a friend’s story.
Information others share about you: We may receive information about you via social and offline competitions that we conduct on a regular basis. This information will be used by us to help us profile and target better offers to you.
    </div>

</div>