<mat-drawer-container class="example-container mat-typography" autosize>
  <mat-drawer #drawer (mouseenter)="isExpanded = true" (mouseleave)="isExpanded = false" mode="side" disableClose="true" opened="true">
    <a  mat-mini-fab (click)="isExpanded = !isExpanded" color="warn" style="margin: 10px;">
      <mat-icon aria-label="Menu"  routerLink="/admin" >menu</mat-icon>
      <!-- <mat-icon aria-label="Menu"  routerLink="/admin" [routerLinkActiveOptions]="{exact:true}" >menu</mat-icon> -->
    </a>

    <mat-nav-list>

      <mat-list-item routerLink="items" routerLinkActive="router-link-active">
        <mat-icon mat-list-icon>reorder</mat-icon>
        <h4 mat-line *ngIf="isExpanded">Items</h4>
      </mat-list-item>

      <mat-list-item>
        <mat-icon mat-list-icon>menu_book</mat-icon>
        <h4 mat-line *ngIf="isExpanded">Customers</h4>
      </mat-list-item>

      <mat-list-item routerLink="orders" routerLinkActive="router-link-active">
        <mat-icon mat-list-icon>assignment</mat-icon>
        <h4 mat-line *ngIf="isExpanded">Orders</h4>
      </mat-list-item>

      <mat-list-item routerLink="invoices" routerLinkActive="router-link-active">
        <mat-icon mat-list-icon>domain</mat-icon>
        <h4 mat-line *ngIf="isExpanded">Invoices</h4>
      </mat-list-item>

      <mat-list-item routerLink="payments" routerLinkActive="router-link-active">
        <mat-icon mat-list-icon>folder_shared</mat-icon>
        <h4 mat-line *ngIf="isExpanded">Payments</h4>
      </mat-list-item>

      <mat-list-item routerLink="accounts" routerLinkActive="router-link-active">
        <mat-icon mat-list-icon>folder_shared</mat-icon>
        <h4 mat-line *ngIf="isExpanded">Accounts</h4>
      </mat-list-item>

      <mat-list-item routerLink="cheques" routerLinkActive="router-link-active">
        <mat-icon mat-list-icon>folder_shared</mat-icon>
        <h4 mat-line *ngIf="isExpanded">Cheques</h4>
      </mat-list-item>

      <mat-list-item routerLink="salesreturns" routerLinkActive="router-link-active">
        <mat-icon mat-list-icon>folder_shared</mat-icon>
        <h4 mat-line *ngIf="isExpanded">Sales returns</h4>
      </mat-list-item>

      <mat-list-item routerLink="reports" routerLinkActive="router-link-active">
        <mat-icon mat-list-icon>folder_shared</mat-icon>
        <h4 mat-line *ngIf="isExpanded">Reports</h4>
      </mat-list-item>

    </mat-nav-list>
  </mat-drawer>

  <div class="page-routes h-100 ">
    <router-outlet></router-outlet>
  </div>
</mat-drawer-container>