/* You can add global styles to this file, and also import other style files */

html,
body {
    height: 100%;
}
body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

.base-page {
    display: flex;
    flex-direction: column;
    height: 100%;
    .page-routes {
        flex: 1;
    }
}

// common scss class used among application
.flex-col {
    display: flex;
    flex-direction: column;
}

.flex-row {
    display: flex;
    flex-direction: row;
}

.h-100 {
    height: 100%;
}

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.clear-ipnut-icon {
    color: red;
    cursor: pointer;
}

.inline-flex-left {
    display: flex;
    justify-content: flex-end;

    button + button {
        margin-left: 2%;
    }
}

//mat table customizing

tr.mat-header-row,
tr.mat-row,
tr.mat-footer-row {
    height: 2.5em !important;
}

.dash-board {
    display: flex;
    height: 100%;

    .filter-wrap {
        width: 20%;
        padding-top: 1%;
        min-width: 24em;

        .filter-field-wrap {
            padding: 10px;

            .btn-search-by-id {
                top: -3px;
            }

            fieldset {
                border: none;
                border-top: 1px solid gray;

                mat-form-field + mat-form-field {
                    margin-top: 3%;
                }

                mat-form-field.date-picker + mat-form-field.date-picker {
                    margin-left: 7.5%;
                }

                mat-form-field {
                    color: #0b23a6;
                    width: 100%;

                    &.inline {
                        width: 53%;
                        margin-right: 2%;
                    }

                    &.date-picker {
                        width: 45%;

                        .mat-form-field-flex {
                            padding-right: 0;
                        }

                        mat-icon {
                            position: absolute;
                            top: 6px;
                            right: -22px;
                        }
                    }

                    .mat-form-field-prefix {
                        top: 0px;
                        color: black;
                        margin-right: 2px;
                    }

                    //cutomizing mat input
                    .mat-form-field-wrapper {
                        .mat-form-field-flex {
                            .mat-form-field-infix {
                                border: 0;
                                padding: 7px 0;
                                input {
                                    padding: 5px 0;
                                    margin: 0;
                                    top: 5px;
                                    position: relative;
                                }
                                .mat-form-field-label-wrapper {
                                    .mat-form-field-label {
                                        top: 32px;
                                        height: 18px;
                                        &:not(.mat-empty) {
                                            color: blue;
                                        }
                                    }
                                }
                            }
                        }
                    }

                    mat-select[role="combobox"] {
                        height: 20px;
                        .mat-select-trigger {
                            top: 5px;
                        }
                    }
                }

                .btn-reset {
                    background-color: #8a8a8a;
                    color: white;
                }

                .btn-filter {
                    background-color: #2590e4;
                    color: white;
                }
            }
        }
    }

    .dashboard-content-wrap {
        flex: 1;
        display: flex;
        flex-direction: column;
        margin-top: 1%;

        .header {
            p {
                font-size: 2em;
                color: #524949;
            }

            small {
                display: flex;
                align-items: center;

                mat-icon {
                    font-size: 1.4em;
                    width: 1em;
                    height: 1em;
                    line-height: 1em;
                    margin: 0 4px;
                }
            }
        }

        .list {
            flex: 1;

            table {
                width: 100%;

                th {
                    font-size: 1em;
                    color: black;
                }

                .commands-column {
                    mat-icon {
                        cursor: pointer;
                        color: gray;

                        &:hover {
                            color: red;
                        }
                    }
                }

                td.deleted {
                    color: red;
                    font-weight: bold;
                }

                td.deleted {
                    color: red;
                    font-weight: bold;
                }
            }
        }
    }
}

.entity {
    display: flex;
    flex-direction: row;

    .panel {
        form {
        }
    }
}

// .mat-dialog-container {
//     padding: 0;
// }

.modal {
    position: relative;
    .close {
        position: absolute;
        top: -24px;
        right: -24px;
        cursor: pointer;
        &:hover {
            color: red;
        }
    }
}

.register-new {

    display: flex;
    height: 100%;
    flex-direction: column;
}
