.content {
    margin-left: 13%;
    .contact {
        display: flex;
        .col {
            width: 20%;
            ul{
                padding: 0;
                margin: 0;
                list-style: none;
                border-left: 1px solid black;
                li {
                    padding: 2px 1em;
                }
            }
        }
    }

    form {
        padding: 1em;
        mat-form-field {
            display: block;
            width: 50%;
        }
        .btn-wrap {
            width: 50%;
            text-align: right;
        }
    }

    p {
        font-size: 1.5em;
        font-weight: 400;
    }
}