button {
    width: 6em;
}

#palyer-form {
    width: 75%;
    margin: auto;
    margin-top: 2%;
}

#palyers-table td.player-photo{
    padding: 3px 0;
}

#palyers-table td.player-photo img{
    width: 80px;
    height: 70px;
    object-fit: contain;
}

#palyers-table th,
#palyers-table td {
    vertical-align: middle;
}

#palyer-form img{
    width: 16em;
    height: 16em;
    object-fit: contain;
}

#auction-teams-wrap,
.tab-pane.active #teams-wrap {
    display: flex;
    flex-direction: row;
    min-height: 30em;
    justify-content: space-between;
}

#auction-teams-wrap .teams-wrap,
#teams .teams-wrap {
    border: 1px solid #e4e4e4;
    width: 20px;
    flex: 1;
    padding: 5px;
}

.teams-wrap img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.teams-wrap table {
    border-collapse: collapse;
    width: 100%;
}

.teams-wrap .team-name {
    height: 3em;
    text-align: center;
    font-weight: bold;
}

.teams-wrap table,
.teams-wrap td,
.teams-wrap th {
    border: 1px solid black;
    padding: 4px 3px;
}

#Auction .carousel .item {
    transition-duration: 0.2s;
    height: 100%;
}

#Auction .carousel-wrap {
    display: flex;
    padding: 1% 5%;
    height: 42em;
}

#Auction #myCarousel {
    flex: 1;
}

#Auction #palyer-desc {
    flex: 1;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    padding: 0 10px;
    justify-content: space-between;
}

#Auction .carousel-inner {
    height: 100%;
}

#Auction .carousel-inner img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

#Auction #next-players img {
    width: 100%;
    opacity: 0.4;
}

.next-palyer {
    display: inline-flex;
    position: relative;
    width: 8em;
    padding: 2px;
}

.next-palyer .next-palyer-name {
    position: absolute;
    top: 0;
    z-index: 1;
    width: 100%;
    text-align: center;
        font-weight: bold;
    font-size: 12px;
}

.next-palyer .next-palyer-role {
    position: absolute;
    bottom: 0;
    z-index: 1;
    width: 100%;
    text-align: center;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: rgb(148, 148, 148);
    border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #1a1818;
}
