<div class="module-index">
    <div class="panel left">
        <div class="menu-items"><a routerLink="./orders">Orders</a></div>
        <div class="menu-items"><a routerLink="./payments">Payments</a></div>
        <div class="menu-items"><a routerLink="./cheques">Cheques</a></div>
        <div class="menu-items"><a routerLink="./invoices">Invoices</a></div>
        <div class="menu-items"><a routerLink="./sales-return">Sales Returns</a></div>
        <div class="menu-items"><a routerLink="./ledger">Ledger</a></div>
        <div class="menu-items"><a routerLink="./profile">Profile</a></div>
    </div>
    <div class="panel right">
        <router-outlet></router-outlet>
    </div>
</div>