<div class="content">
    <div class="row">
        <div matRipple class="col matripple">INVOICES</div>
        <div matRipple class="col matripple">ORRDERS</div>
        <div matRipple class="col matripple">PAYMENTS</div>
    </div>

    <div class="row">
        <div matRipple class="col matripple">CUSTOMERS</div>
        <div class="col"><img src="/assets/logo.png" alt="log"></div>
        <div matRipple class="col matripple">ITEMS</div>
    </div>

    <div class="row">
        <div matRipple class="col matripple">ACCOUNTS</div>
        <div matRipple class="col matripple">CHEQUES</div>
        <div matRipple class="col matripple">SALES RETURN</div>
    </div>
</div>
<div class="quick-buttons">
    <button mat-flat-button color="primary">New Items</button>
    <button mat-flat-button color="primary">New Invoice</button>
    <button mat-flat-button color="primary">New Payment</button>
    <button mat-flat-button color="primary">New Customer</button>
</div>