<div class="notification-dialog" [ngClass]="{
  'error': data.notificationType == notificationType.error, 
  'warn': data.notificationType == notificationType.warn,
  'success': data.notificationType == notificationType.success  
}">
    <h1 mat-dialog-title>{{ data.title || 'TV-Admin' }}</h1>
    <div class="content">

        <div mat-dialog-content *ngIf="data.html">
            <div [innerHTML]="data.html"></div>
        </div>

        <div mat-dialog-content *ngIf="!data.html">
            <p>{{ data.message || 'Are you sure?' }}</p>
        </div>

        <div mat-dialog-actions>
            <span *ngIf="data.dialogType === dialogType.ntOk">
                <button mat-raised-button [mat-dialog-close]="true"
                    cdkFocusInitial>{{ (data.btnTxt && data.btnTxt.ok)? data.btnTxt.ok : 'Ok' }}</button>
            </span>
            <span *ngIf="data.dialogType === dialogType.ntOkCancel">
                <button mat-button (click)="dialogRef.close()"
                    [attr.cdkFocusInitial]="(data.initialFocusBtn !== buttons.btOk) ? '' : null">{{ (data.btnTxt && data.btnTxt.cancel)? data.btnTxt.cancel : 'Cancel' }}</button>
                <button mat-raised-button [mat-dialog-close]="true"
                    [attr.cdkFocusInitial]="(data.initialFocusBtn === buttons.btOk) ? '' : null">{{ (data.btnTxt && data.btnTxt.ok)? data.btnTxt.ok : 'Ok' }}</button>
            </span>
            <span *ngIf="data.dialogType === dialogType.ntYesNo">
                <button mat-raised-button (click)="dialogRef.close()"
                    [attr.cdkFocusInitial]="(data.initialFocusBtn !== buttons.btYes) ? '' : null">{{ (data.btnTxt && data.btnTxt.no)? data.btnTxt.no : 'No' }}</button>
                <button mat-raised-button [mat-dialog-close]="true"
                    [attr.cdkFocusInitial]="(data.initialFocusBtn === buttons.btYes) ? '' : null">{{ (data.btnTxt && data.btnTxt.yes)? data.btnTxt.yes : 'Yes' }}</button>
            </span>
        </div>

    </div>
</div>