.heder-logo{
      text-align: center;
      img{
            &.text{
                  width: 35em;
            }
      }
}

ul{
      &.nav-bar{

            border-bottom: 1px solid;
            padding: 0;
            margin: 0;
            display: flex;

            .middle-space{
                  flex: 1 1 auto;
            }

            li{   
                           
                  &:first-child{
                        width: 2em;
                  }
                  display: inline-block;
                  a{
                        padding: 0px 5px 0 5px;
                        height: 100%;
                        display: block;
                        text-decoration: none;
                        position: relative;
                        bottom: 1px;
                        border: 1px;

                        &.router-link-active{
                              border: 1px solid;
                              border-bottom-color: white;
                              border-radius: 5px 5px 0 0;   
                        }

                        span{
                              vertical-align: super;
                        }
                        &.admin{
                              color: red;
                              font-weight: bold;
                        }
                        &.home{
                              padding: 0 1em;
                        }
                  }
            }    
      }      
}