/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

// header nav bar customizing
.header {
    .mat-tab-link{
        height: 40px;
        min-width: 90px;
    }
    .mat-tab-label-active {
        border: 1px solid #b7b7b7;
        border-radius: 5px;
        border-bottom: none;
    }

    // search element customizing
    .mat-form-field-flex{
        margin-top: 0.4em;

        .mat-form-field-infix{
            padding: 0;

            .mat-input-element {
                padding-bottom: 12px;
            }
        }
    }    
}


.dash-board {
    display: flex;
    height: 100%;

    .filter-wrap {
        width: 20%;
        padding-top: 1%;
        min-width: 24em;
    }

    .dashboard-content-wrap {
        flex: 1;
        display: flex;
        flex-direction: column;
        margin-top: 1%;
    }
}

.dashboard-table-wrap{
    display: inline-block;
    min-width: 80%;

    .header-note {
        display: flex;
        position: relative;
        span{
            flex: 1 1 auto;
            padding-bottom: 5px;
        }
        .table-filter-field {
            position: absolute;
            right: 0;
            bottom: -1em;
        }
    }

    table{
        width: 100%;
        min-height: 300px;
        border: 1px solid #f1ecec;
    }
}

.center-paginator{
    display: flex !important;
    justify-content: center;
}

.flex-spacer {
    flex-grow: 1;
}