<div class="header">
    <div><a href="/"><img src="/assets/logo.png" alt="log"></a></div>
    <div class="search-form-wrap">
        <form (submit)="searchItems()">
            <mat-form-field appearance="fill">
                <input type="text" matInput placeholder="Search Items" name= "search" [(ngModel)]= "search">
                <button type="submit" matSuffix mat-button><mat-icon >search</mat-icon></button>
            </mat-form-field>
        </form>
    </div>
    <nav mat-tab-nav-bar>
        <a mat-tab-link *ngFor="let link of links" (click)="activeLink = link.routePath"
            [active]="activeLink == link.routePath" [routerLink]="link.routePath"> {{link.label}} 
        </a>
    </nav>
</div>

<div class="routes-wrap">
    <router-outlet></router-outlet>
</div>

<div class="footer">
    <div class="col intro">
        <img class="logo-img" src="/assets/logo.png" alt="log">
        <img class="header-img" src="/assets/header.png" alt="log">
        <div>
            this is some introduction of the shop asdassdsadsd
            sasdfasd
             adva
              ad adf dfdfadf fsafeffdf sfadfasfasdf adfasfsdf 
        </div>
    </div>
    <div class="col">
        <p>Account</p>
        <ul>
            <li><a [routerLink]="['/account']" (click)="activeLink = 'account'">My Account</a></li>
            <li><a [routerLink]="['/account/order']" (click)="activeLink = 'account'" >Orders history</a></li>
            <li><a [routerLink]="['/cart']" (click)="activeLink = 'cart'" >Orders history</a></li>
            <li><a [routerLink]="['/account/invoice']" (click)="activeLink = 'account'" >Orders history</a></li>
        </ul>
    </div>
    <div class="col">
        <p>Information</p>
        <ul>
            <li><a [routerLink]="['/about']" (click)="activeLink = 'about'" >About</a></li>
            <li><a [routerLink]="['/contact']" (click)="activeLink = 'contact'" >Contact</a></li>
            <li><a [routerLink]="['/privacypolicy']" (click)="activeLink = 'privacypolicy'" >Privacy Policy</a></li>
            <li><a [routerLink]="['/termsandcondition']" (click)="activeLink = 'termsandcondition'" >Terms and Condition</a></li>
            <li><a [routerLink]="['/salesandreturn']" (click)="activeLink = 'salesandreturn'" >Sales and return</a></li>
        </ul>
    </div>
    <div class="col">
        <p>How can we help you?</p>
        <ul>
            <li>Hotline: 0118215632</li>
            <li>Eamil: capitalhardware@yahoo.com</li>
        </ul>
    </div>
</div>