<footer>
    <div class="container">
      <div class="row">
        <div class="col">
          <h3>Shop</h3>
          <ul>
            <li><a href="#">Products</a></li>
            <li><a href="#">Special Offers</a></li>
            <li><a href="#">New Arrivals</a></li>
            <li><a href="#">Best Sellers</a></li>
          </ul>
        </div>
        <div class="col">
          <h3>Account</h3>
          <ul>
            <li><a href="#">My Account</a></li>
            <li><a href="#">Order History</a></li>
            <li><a href="#">Wishlist</a></li>
            <li><a href="#">Newsletter</a></li>
          </ul>
        </div>
        <div class="col">
          <h3>Information</h3>
          <ul>
            <li><a href="#">About Us</a></li>
            <li><a href="#">Terms & Conditions</a></li>
            <li><a href="#">Privacy Policy</a></li>
            <li><a href="#">Contact Us</a></li>
          </ul>
        </div>
        <div class="col">
          <h3>How can we help you?</h3>
          <ul>
            <li><a href="#">FAQs</a></li>
            <li><a href="#">Shipping & Delivery</a></li>
            <li><a href="#">Returns & Exchanges</a></li>
            <li><a href="#">Payment Options</a></li>
          </ul>
        </div>
      </div>
    </div>
  </footer>
  