.content{
    .cart-wrap{
        display: flex;

        .items-list {
            .item-description {
                display: flex;
                align-items: center;
                img {
                    width: 3em;
                    height: 3em;
                }
            }
            .counter {
                .wrap {
                    display: flex;
                    border: 1px solid;
                    span{
                        border: 1px solid;
                        border-bottom: 0;
                        border-top: 0;
                        padding: 2px 15px;
                    }
                    mat-icon{
                        cursor: pointer;
                    }
                }
            }
        }

        .items-total {
            padding-top: 2em;
            .wrap{
                margin-bottom: 0;
                height: 80%;
                border-left: 1px solid;
                padding: 0 6px;
            }
        }
    }
}