<div class="dash-board">
    <div class="filter-wrap">
        <div class="flex-center add-new">
            <button mat-flat-button color="primary" routerLink="new" >New Item</button>
        </div>
        <p>Categories</p>
        <div *ngFor="let category of categories">
            <a [routerLink]="category.id" routerLinkActive="router-link-active" >{{category.name}}</a>
        </div>
    </div>
    <div class="dashboard-content-wrap" style="flex: 1;">
          <router-outlet></router-outlet>
    </div>
</div>