<h2>Register New Item</h2>

        <p class="info">
            Required fields are marked with *
        </p>

        <form (ngSubmit)="onSubmit()" [formGroup]="newItemForm">

            <div>
                <mat-form-field>

                    <input matInput placeholder="Full Name" formControlName="Name" required>
                    <!-- <mat-error
                        *ngIf="(newItemForm.get('Name').touched || newItemForm.get('Name').dirty) && newItemForm.get('Name').invalid">
                        Enater valid customer name
                    </mat-error> -->
                </mat-form-field>
            </div>

            <div>
                <mat-form-field>

                    <textarea matInput placeholder="Address" formControlName="Address" required rows="3"></textarea>
                    <!-- <mat-error
                        *ngIf="(newItemForm.get('Address').touched || newItemForm.get('Address').dirty) && newItemForm.get('Address').invalid">
                        Enater valid address
                    </mat-error> -->
                </mat-form-field>
            </div>

            <div>
                <mat-form-field>

                    <input matInput placeholder="City" formControlName="City" required>
                    <!-- <mat-error
                        *ngIf="(newItemForm.get('City').touched || newItemForm.get('City').dirty) && newItemForm.get('City').invalid">
                        Enater valid customer city
                    </mat-error> -->
                </mat-form-field>
            </div>


            <div>
                <mat-form-field>

                    <input matInput placeholder="NIC Number" formControlName="NIC" required>
                    <!-- <mat-error
                        *ngIf="(newItemForm.get('NIC').touched || newItemForm.get('NIC').dirty) && newItemForm.get('NIC').invalid">
                        Enater valid customer NIC number
                    </mat-error> -->
                </mat-form-field>
            </div>

            <div>
                <mat-form-field>
                    <input matInput placeholder="Email Address" formControlName="Email" required>
                    <!-- <mat-error
                        *ngIf="(newItemForm.get('Email').touched || newItemForm.get('Email').dirty) && newItemForm.get('Email').invalid">
                        Enater valid email address
                    </mat-error> -->
                </mat-form-field>
            </div>

            <div>
                <mat-form-field>

                    <input matInput placeholder="Mobile Number" formControlName="Mobile" required>
                    <!-- <mat-error
                        *ngIf="(newItemForm.get('Mobile').touched || newItemForm.get('Mobile').dirty) && newItemForm.get('Mobile').invalid">
                        Enater valid customer Mobile number
                    </mat-error> -->
                </mat-form-field>
            </div>

            <div>
                <mat-form-field>

                    <input matInput placeholder="Telephone number" formControlName="Telephone">
                </mat-form-field>
            </div>

            <div>
                <mat-form-field>
                    <input matInput placeholder="Credit Limit" formControlName="CreditLimit">
                </mat-form-field>
            </div>

            <div>
                <mat-form-field>
                    <input matInput placeholder="Password" formControlName="Password" required>
                    <!-- <mat-error
                        *ngIf="(newItemForm.get('Password').touched || newItemForm.get('Password').dirty) && newItemForm.get('Password').invalid">
                        Enater valid customer Mobile number
                    </mat-error> -->
                </mat-form-field>
            </div>

            <div>
                <mat-form-field>
                    <mat-label>Status</mat-label>
                    <mat-select formControlName="Status">
                        <mat-option *ngFor="let item of itemstatuses" [value]="item.id">
                            {{item.label}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>

            <div class="form-button-wrap">

                <button type="reset" mat-raised-button>Reset</button>
                <button type="submit" mat-raised-button color="primary">Register</button>
            </div>

        </form>